! asgiref==3.2.7
! certifi==2020.6.20
! chardet==3.0.4
! Django==3.0.6
- django-debug-toolbar==2.2
- et-xmlfile==1.0.1
- get==2019.4.13
! idna==2.10
- jdcal==1.4.1
! openpyxl==3.0.4
! Pillow==7.1.2
- post==2019.4.13
- public==2019.4.13
! pyTelegramBotAPI==3.7.3
! pytz==2020.1
- query-string==2019.4.13
- reportlab==3.5.46
! request==2019.4.13
! requests==2.24.0
! six==1.15.0
! sqlparse==0.3.1
! urllib3==1.25.10

Используемые библиотеки:
Django==3.0.6
openpyxl==3.0.4
Pillow==7.1.2
pyTelegramBotAPI==3.7.3


