{% extends 'index.html' %}

{% block content1 %}


    <div class="container-fluid">
    <h3>
        Связаться с нами: <br>
        <h6>
            Адрес: г.Черноморск, ул. ХХХХ, УУУ <br>
            Телефон: 077-777-7777</h6>
        <br>
        <h4>
            Социальные сети:
            <h6>У нас есть свой Телеграм-бот, который поможет получить информацию по задолженности и передать актуальные показания.
            Присоединяйся!</h6>
        <a href="https://t.me/SOG_Veteran_Bot" target="_blank">Telegram
        <img src="/media/templates/Telegram.png" alt="" width="50"></a>
        </h4>


    </h3>
    </div>

{% endblock content1 %}